.container {
  background-color: lightgray;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 5fr 1fr / 1fr 4fr;
  grid-template-areas:
  "header header"
  "nav content"
  "footer footer";
  gap: 10px;
}

.header {
  background-color: lightgreen;
  grid-area: header;
  font-size: largest;
}

.nav {
  background-color: lightpink;
  grid-area: nav;
}

.content {
  background-color: rgb(194, 71, 194);
  grid-area: content;
  padding: 20px 40px;
}

.footer {
  background-color: brown;
  grid-area: footer;
}

.contentPic {
  width: 20vw;
}

.threeBoxesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.threeBoxesContainer > div {
  width: 15vh;
  height: 15vh;
  border: solid black 4px;
}